<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/config" title="Configuración"> Configuración </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Logs"><b> Logs</b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-low-vision"></i>
                        <b> Logs </b>
                    </h1>
                </div>
                
                <p>logs works!</p>

            </div>

        </div>

    </div>

</div>