<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/accouting"> Contabilidad </a> </li>
                        <li class="breadcrumb-item active" aria-current="page"> <b> ActivosFijos </b> </li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-pallet" > </i>
                        <b> Activos Fijos </b>
                    </h1>
                </div>

            </div>

        </div>

        <div class="card shadow mb-4">

            <div class="card-body">

                <p>
                    <button class="btn btn-success btn-user text-white" routerLink="/"
                        title="Agregar Activo Fijo"> <i class="fas fa-plus"></i> Agregar Activo Fijo</button>
                </p>

            </div>
        
        </div>
    </div>

</div>