<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="text-center h3 mb-0 text-gray-800">
            <i class="fas fa-fw fa-tools"></i>
            <b> Administrar </b>
        </h1>
    </div>

    <div class="card shadow mb-4">

        <div class="card-body">

            <div class="row">

                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card bg-info shadow h-100 py-2">
                        <div class="card-body bg-info">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/mantenaince/equipments" title="Equipos"> Equipos </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-toolbox fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 ">
                    <div class="card bg-warning shadow h-100 py-2">
                        <div class="card-body bg-warning">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/mantenaince/lendings" title="Préstamo de Equipos" > Préstamos </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-business-time fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 ">
                    <div class="card bg-dark shadow h-100 py-2">
                        <div class="card-body bg-dark">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/mantenaince/mantenainces" title="Mantenimientos de Equipos"> Mantenimientos </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-wrench fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 offset-xl-2 col-md-6 mb-4">
                    <div class="card bg-warning shadow h-100 py-2">
                        <div class="card-body bg-warning">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" 
                                        routerLink=""> Facturas de Compra </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-file-invoice fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>


</div>