<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="text-center h3 mb-0 text-gray-800">
            <i class="fas fa-tools"></i>
            <b> Fabricación UMV </b>
        </h1>
    </div>

    <div class="card shadow">

        <div class="card-body">

            <div class="row">

                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card bg-success shadow h-100 py-2">
                        <div class="card-body bg-success">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/schedule"> Cronogramas </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw far fa-calendar fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 ">
                    <div class="card bg-warning shadow h-100 py-2">
                        <div class="card-body bg-warning">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/OrdersProduction" > Ordenes de Producción </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-4 ">
                    <div class="card bg-danger shadow h-100 py-2">
                        <div class="card-body bg-danger">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/Registers"> Registros de Reunión</a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-file-invoice fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 offset-xl-4 col-md-6 mb-4">
                    <div class="card bg-info shadow h-100 py-2">
                        <div class="card-body bg-info">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-white">
                                        <a class="text-white text-decoration-none" routerLink="/schedule">Tracings de Mantenimiento</a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-truck-loading fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>