<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-8">

            <div class="card o-hidden border-0 shadow-lg my-5">

                <div class="card-body p-0">
                    <div class="row">

                        <div class="col-lg-12">

                            <div class="p-5">
                                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                    <h3 class="text-center h3 mb-0 text-gray-800">
                                        <b > Petroco Mantenimiento </b>
                                    </h3>
                                </div>

                                <div class="text-gray">
                                    Somos una empresa Colombiana que sirve de soporte a las empresas generadoras de desarrollo en la Industria de
                                    Hidrocarburos.
                                    La compañía ofrece al mercado nacional e internacional una amplia variedad de Unidades Móviles de Vivienda
                                    Prefabricadas en Fibra de Vidrio, fácilmente adaptables a todo tipo de necesidades y expectativas de nuestros
                                    clientes.                                
                                    <br> <br>
                                    En la fabricación de nuestros equipos utilizamos material de excelente calidad; mantenemos una constante inversión
                                    en nuevas tecnologías y contamos con personal altamente calificado para el diseño y desarrollo de cualquier producto
                                    requerido, siendo esto lo que permite diferenciar y atender las cambiantes demandas del mercado.
                                </div>

                            </div>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>