<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/complements" title="Complementos">
                                Complementos </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Tipo de Dispositivos"><b> Tipo de
                                Dispositivos </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-layer-group"></i>
                        <b> Tipo de Dispositivos </b>
                    </h1>
                </div>

                <div class="card shadow mb-4">

                    <div class="card-body">

                        <p>
                            <button class="btn btn-success btn-user text-white" title="Agregar Tipo de Dispositivo"
                                routerLink="/complements/providerstypes/create">
                                <i class="fas fa-plus"></i> Agregar Tipo Dispositivo</button>
                        </p>

                        <div class="table-responsive">
                            <table datatable class="table table-striped table-condensed table-hover" width="100%"
                                cellspacing="0">

                                <thead>
                                    <tr>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning fas fa-edit text-white"
                                                title="Editar Tipo Dispositivo" type="button"></button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>