<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/thuman" title="Talento Humano"> Talento Humano </a> </li>
                        <li class="breadcrumb-item"> <a href="" routerLink="/thuman/employee-type" title="Tipo de Empleados"> Tipo de Empleados </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Empleados"><b> Creación </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4" title="Tipo Empleados">
                    <h1 class="text-center h3 mb-0 text-gray-800 ">
                        <i class="fas fa-sync-alt"></i>
                        <b> Tipo Empleados </b>
                    </h1>
                </div>

                <div class="card shadow mb-4">

                    <div class="card-header">
                        <h6 class="text-primary">
                            <i class="fas fa-plus"> </i> <b> Creación de Tipo Empleados </b>
                        </h6>
                    </div>

                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <h6 class="m-0 font-weight-bold text-danger">
                                        <i class="fas fa-info-circle"> </i> Los campos con (*) son requeridos...
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        
    </div>

</div>