<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/complements" title="Complementos"> Complementos </a> </li>
                        <li class="breadcrumb-item"> <a href="" routerLink="/complements/providerstypes" title="Tipo de Proveedores"> Tipo de Proveedores </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Creación"><b> Creación </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-box-open"></i>
                        <b> Tipo de Proveedores </b>
                    </h1>
                </div>
                
                <div class="card shadow mb-4">

                    <div class="card-body">

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>