<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="embed-responsive embed-responsive-4by3">
        
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xWKGl5X4KmQ?start=5"
          allowfullscreen></iframe>

      </div>

    </div>

  </div>

</div>