<form id="form_RecoveryPass" method="post" class="user" [formGroup]="recoveryForm" (submit)="submit">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-12 col-md-8">

                     <div class="card o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                   
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Petroco Mantenimiento</h1>
                                    </div>
                                    <hr />
                                    <div>
                                        <h5 class="h5 text-gray-900 mb-4 text-center">¿Olvidaste tu contraseña?</h5>
                                        <p>Proporciona el número de tú documento en el cuadro de texto...</p>
                                    </div>
                                    <div class="form-group">
                                    
                                        <input class="form-control form-control-user" type="text" placeholder="Número de Documento..."
                                            formControlName="_identificationUser" required />
                                        <div *ngIf="gIdentificationUser.invalid && (gIdentificationUser.dirty || gIdentificationUser.touched)" class="text-danger">
                                            <div *ngIf="gIdentificationUser.errors.required">
                                                <b> * </b> El número de documento es requerido 
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="text-center">
                                        <button type="submit" value="Login" class="btn btn-danger btn-user btn-block" [disabled]="recoveryForm.invalid">
                                            Recuperar Contraseña
                                        </button>
                                    </div>

                                    <hr>
                                
                                    <div class="text-center">                                       
                                        <a class="btn btn-link btn-user btn-block" style="text-decoration:none" routerLink="/login">
                                            <b> Iniciar Sesión </b> </a>
                                    </div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</form>