<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <b>Versión</b> 1.0
            <br />
            El "Diamante de Petroco" y la palabra "Petroco" son marcas registradas de Petroco.
            <br />
            <br />
            Todos los derechos reservados Petroco S.A - Colombia
            <br />
            Hecho por: Departamento de Sistemas | Petroco S.A
            <br />
            <span>
                <strong>Copyright</strong> &copy; {{ year }}
                <a href="https://www.petroco.com.co/es/inicio/" style="text-decoration:none"> Petroco S.A </a>
            </span>
        </div>
    </div>
</footer>