<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-8">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="" routerLink="/thuman" title="Talento Humano"> Talento Humano
                        </a> </li>
                    <li class="breadcrumb-item active" aria-current="page" title="Empleados"><b> Empleados </b></li>
                </ol>
            </nav>

            <div class="d-sm-flex align-items-center justify-content-center mb-4" title="Empleados">
                <h1 class="text-center h3 mb-0 text-gray-800 ">
                    <i class="fas fa-user-tie"></i>
                    <b> Empleados </b>
                </h1>
            </div>

            <div class="card shadow mb-4">

                <div class="card-body">

                    <p>
                        <button class="btn btn-success btn-user text-white" routerLink="/thuman/employee/create"
                            title="Agregar Nuevo Empleado">
                            <i class="fas fa-plus"></i> Agregar Empleado</button>
                    </p>

                    <div class="table-responsive">

                        <table datatable class="table table-striped table-condensed table-hover" width="100%"
                            cellspacing="0">

                            <thead>
                                <tr>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-warning fas fa-edit text-white" title="Editar Empleado"
                                            type="button"></button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>