<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/config" title="Configuración"> Configuración </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Menú Usuarios"><b> Menú Usuarios</b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-users-cog"></i>
                        <b> Menú Usuarios </b>
                    </h1>
                </div>

                <div class="card shadow mb-4">

                    <div class="card-body">
            
                        <div class="row">
            
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card bg-warning shadow h-100 py-2">
                                    <div class="card-body bg-warning">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h5 mb-0 font-weight-bold text-white">
                                                    <a class="text-white text-decoration-none" title="Menú Usuarios"
                                                        routerLink="/config/users"> Usuarios </a>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-fw fas fa-users fa-2x text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card bg-success shadow h-100 py-2">
                                    <div class="card-body bg-success">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h5 mb-0 font-weight-bold text-white">
                                                    <a class="text-white text-decoration-none" title="Tipo de Usuarios"
                                                        routerLink="/config/userstypes"> Tipo de Usuario </a>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-fw fa-sync-alt fa-2x text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            
            
                        </div>
            
                    </div>
            
                </div>

            </div>

        </div>

    </div>

</div>