<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xs-12 col-xs-12 col-md-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/systems"> Sistemas </a> </li>
                        <li class="breadcrumb-item"> <a href="" routerLink="/systems/cv-devices"> HV - Dispositivos </a>
                        </li>
                        <li class="breadcrumb-item"> <a href="" routerLink="/systems/cv-devices/create"> Creación </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><b> Descripción del Dispositivo </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-code"></i>
                        <b> Sistemas </b>
                    </h1>
                </div>

                <div class="card shadow mb-4">
<div class="card-header">
                        <h6 class="text-primary">
                            <i class="fas fa-plus"> </i> <b> Creación de Dispositivos </b>
                        </h6>
                    </div>

                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <h6 class="font-weight-bold text-danger">
                                        <i class="fas fa-info-circle"> </i> Los campos con (*) son requeridos...
                                    </h6>

                                    <br />

                                    <form [formGroup]="">
                                        <div>
                                            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                                <h6 class="text-center h5 mb-0 text-primary">
                                                    <b> Descripción del Dispositivo</b>
                                                </h6>
                                            </div>

                                            <hr>

                                            <div class="form-group row">
                                                <div class="col-sm-4 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark">Tipo de
                                                        Dispositivo(*):</label>
                                                        <select class="form-control form-control-user custom-select" formControlName="" title="Seleccione..." required>
                                                            <option value="" selected>Seleccione...</option>
                                                            <option value="1"> All In One </option>
                                                            <option value="2"> Laptop </option>
                                                            <option value="3"> Impresora </option>
                                                        </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark"> Marca(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="Marca..." title="Marca" required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark"> Modelo(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="Modelo..." title="Modelo" required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-4 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark"> S/N(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="S/N..." title="S/N" required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark"> Product ID(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="Product ID..." title="Product ID"
                                                        required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark"> MAC(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="00:00:00:00:00:00" title="MAC"
                                                        required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-4 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark"> IP(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="192.168.2.1" title="IP" required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark">Tipo de S.O(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                            formControlName="" title="Seleccione..." required>
                                                        <option selected>Seleccione...</option>
                                                        <option value="1"> Windows 7 Pro OA LATAM </option>
                                                        <option value="2"> Windows 8.1 Single Language x 64 bits </option>
                                                        <option value="3"> Windows 10 Home Single Language x64 Bits </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark">Tipo de Memoria
                                                        RAM(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                        formControlName="" title="Memoria RAM" required>
                                                        <option selected>Seleccione...</option>
                                                        <option value="1"> DDR3 4GB </option>
                                                        <option value="2"> DDR3 8GB </option>
                                                        <option value="3"> DDR4 4GB </option>
                                                        <option value="4"> DDR4 8GB </option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-4 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark">Tipo de
                                                        Procesador(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                        formControlName="" title="Tipo de Procesador" required>
                                                        <option selected>Seleccione...</option>
                                                        <option value='1'> Intel Atom TM-CPU D2550   </option>
                                                        <option value='2'> Intel Pentium CPU G 3220UT @ 2.60 GHz 2.60 GHz </option>
                                                        <option value='3'> Inside Pentium 14 CPU </option>
                                                        <option value='4'> Intel Core I3-2100 CPU @3.10 GHz  </option>
                                                        <option value='5'> Intel Core I3-4130T CPU @2.90 GHz 2.90 GHz </option>
                                                        <option value='6'> AMD Ryzen 5 3500U </option>
                                                        <option value='7'> AMD Ryzen 5 3500U with Raedon Vega Mobile Gfx 2.10 GHz </option>
                                                        <option value='8'> AMD A8-6410 APU with AMD Radeon R5 Graphics (4 CPUs) @ 2 GHz </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark">Tipo de
                                                        Almacenamiento(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                        formControlName="" title="Tipo de Almacenamiento" required>
                                                        <option selected>Seleccione...</option>
                                                        <option value='1'> Hibrido </option>
                                                        <option value='2'> HDD </option>
                                                        <option value='3'> SSD </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label class="font-weight-bold text-dark">Tamaño de
                                                        Almacenamiento(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                        formControlName="" title="Tamaño de Almacenamiento" required>
                                                        <option selected>Seleccione...</option>
                                                        <option value='1'> 500 GB HDD </option>
                                                        <option value='2'> 750 GB HDD </option>
                                                        <option value='3'> 1 TB HDD </option>
                                                        <option value='4'> 1 TB HDD + 250 GB SSD </option>
                                                        <option value='5'> 2 TB HDD </option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="font-weight-bold text-dark">Tarjeta
                                                        Gráfica(*):</label>
                                                    <select class="form-control form-control-user custom-select"
                                                        formControlName="" title="Tipo de Almacenamiento" required>
                                                        <option selected>Seleccione...</option>
                                                        <option value='1'> N/A </option>
                                                        <option value='2'> Sí </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label class="font-weight-bold text-dark"> Pantalla -
                                                        Resolución(*):</label>
                                                    <input class="form-control form-control-user" formControlName=""
                                                        type="text" placeholder="Tamaño (Pulgadas) - Resolución"
                                                        title="IP" required />
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div
                                                    class="col-sm-12 mb-3 mb-sm-0 align-items-center justify-content-center">
                                                    <label class="font-weight-bold text-dark" for="TxTareaObs">
                                                        Observaciones(*):</label>
                                                    <textarea id="TxTareaObs" class="form-control form-control-user"
                                                        formControlName="" type="text" placeholder="Observaciones"
                                                        title="IP" required> </textarea>
                                                    <span *ngIf="" class="text-center text-danger small">
                                                        <span *ngIf="">
                                                            <b> * Campo Requerido: </b> Nombre Tipo Usuario Requerido!
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0 offset-sm-4">
                                                <a class="btn btn-danger btn-user btn-block text-white" title="Cancelar"
                                                    routerLink="/systems/cv-devices">
                                                    <i class="fas fa-times-circle"></i> Cancelar
                                                </a>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0 ">
                                                <button type="submit" value="Create"
                                                    class="btn btn-warning btn-user btn-block text-white"
                                                    title="Siguiente" [disabled]=""
                                                    routerLink="/systems/cv-devices/create/accesories">
                                                    <i class="fas fa-"></i> Siguiente
                                                </button>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>