<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xs-12 col-xs-12 col-md-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/purchases"> Compras </a> </li>
                        <li class="breadcrumb-item active" aria-current="page"><b> Ordenes de Compra</b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-0 text-gray-800">
                        <i class="fas fa-shopping-cart"></i>
                        <b> Compras </b>
                    </h1>
                </div>

                <div class="card shadow mb-4">

                    <div class="card-body">

                        <p>
                            <button class="btn btn-success btn-user text-white" routerLink="/orderspurchases/create"
                                title="Generar Nueva Orden de Compra"> <i class="fas fa-upload"></i> Generar O. Compra </button>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>